     
.top-buffer {    margin-top:20px }
body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
path.caliperLine,
.axis line {
    fill: none;
    stroke: darkred;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

div.tooltip {					/* set the CSS for tooltip divs */
    position: absolute;			/* reference for measurement */
    text-align: center;			/* align the text to the center */
    width: 60px;					/* set the width of the rectangle */
    height: 50px;					/* set the height of the rectangle */
    padding: 2px;	
    vertical-align: central;
    font: 12px sans-serif;		/* set the font type for the tooltips */
    background: lightsteelblue;	/* set the colour of the rectangle */
    border: 0px;					/* turn off the border (0px) */
    border-radius: 8px;			/* set how rounded the edges of the rectangle is */
    pointer-events: none;			/* 'none' tells the mouse to ignore the rectangle */
}

div.graph
{
     position: relative ; 
    
}

 

 rect#handleLeft,
 rect#handleRight
 {
     stroke: darkred;
     fill: red;
     opacity:1.0;
     stroke-width: 2;
 }