 

#imageCollection{
    position:relative; 
    // overflow:hidden;
    height: 400px;
    width: 400px;
    top:0;
    left:0;


}
#imageCollection img {
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    opacity: 1;
    display:none;
    margin-top: 20px

} 

label
{
    margin-left:20px;
    margin-right: 20px
}

svg{
    stroke: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#rim {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
}

.second-hand{
    stroke-width:3;

}

.minute-hand{
    stroke-width:8;
    stroke-linecap:round;
}

.hour-hand{
    stroke-width:12;
    stroke-linecap:round;
}

.hands-cover{
    stroke-width:3;
    fill:#fff;
}

.second-tick{
    stroke-width:3;
    fill:#000;	
}

.hour-tick{
    stroke-width:8; //same as the miute hand
}

.second-label{
    font-size: 12px;
}

.hour-label{
    font-size: 24px;
}

